<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAt7fSzFdMyaPQmSp2kysXrZqlYo_f3-RM</string>
	<key>GCM_SENDER_ID</key>
	<string>147214240306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.azhanmd.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-439d5</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-439d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147214240306:ios:8626693c1e9d69df600a2b</string>
</dict>
</plist>